#userDetails{
	display:inline-flex;
}

.userInfo
{
	padding:0 3rem;
}

.scorecount
{
	margin:5px 0px;
}

.border-left-primary
{
	border-left: .25rem solid #4e73df !important;padding: 13px;
}