<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"><html xmlns="http://www.w3.org/1999/xhtml"><head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
 <meta/><meta content="IE=edge" http-equiv="X-UA-Compatible"/><meta/><meta/><meta/><style> hr {  border-top: 1px solid #7c7171; }
  .card {  background-color: white;  width: 85%;  margin: 0 auto;   }
    #ralleyform {    background-color: #5b6e74; }
  #headingtitle {  font-size: 25px;    font-weight: bold;   }
 .form-table{  display: none;   }
 .message{ display: none; }
  .show{ display: inline-block; }
  </style></head><body>
  
   
   
   
   
   
   
  <!-- off-canvas --> 
  <!-- font-awesome --> 
   
  <!-- 
<link th:href="/fonts/flaticon/flaticon.css" rel="stylesheet"> --> 
  <!-- Bootstrap --> 
   
  <!-- Style CSS --> 
   
   
   
  <!--
         Favicons
         =============================================
         --> 
   
   
  
  
  <div id="main-wrapper" class="uc-offcanvas-wrapper uc-offcanvas-left slide-along"> 
   <!-- Page Preloader --> 
   <div id="preloader"> 
    <div id="status"> 
     <div class="status-mes"></div> 
    </div> 
   </div> 
   <div class="content-wrapper"> 
    <!-- Header Top --> 
    <div class="header-top visible-md visible-lg"> 
     <div class="container"> 
      <div class="row"> 
       <div class="col-sm-12 col-md-6"> 
        <span id="ct" style="color: white; font-size: 11px; float: left; width: 100%; height: auto; display: inline-block; padding-top: 2px;"></span> 
       </div> 
       <div class="col-sm-12 col-md-6"> 
        <ul class="top-contact pull-right"> 
         <li class="phone"><i class="fa fa-phone-square"></i> 011-2569-9606/4209</li> 
         <li class="email"><i class="fa fa-envelope"></i> <img style="padding-bottom: 4px;" alt=""/></li> 
         <!-- <li class="get-a-quote"><a href="#" title="">TEXT</a></li> --> 
        </ul> 
       </div> 
      </div> 
     </div> 
    </div> 
    <div id="iafname" class="container-fluid  visible-lg visible-md"> 
     <div class="row"> 
      <div class="col-sm-5 col-md-5 col-lg-5 col-xs-12 d-none d-sm-block"> 
       <div style="clear: both;" class="navbar-header left-align left-padding"> 
        <a class="logo pull-left" href="index.html"><img style="height: 65px; margin-top: 5px;"/></a> 
        <span class="name pull-left"> <h4 style="color: #022261;  margin-left: 15px; margin-top: 5px; font-weight: 700;" class="txt">CENTRAL AIRMEN SELECTION BOARD</h4> </span> 
        <br/> 
        <span class="name pull-left"> <h4 style="color: #022261;  margin-left: 15px; margin-top: 5px; font-weight: 700;" class="txt">केन्द्रीय वायु सैनिक चयन बोर्ड</h4> </span> 
       </div> 
      </div> 
      <div class="col-sm-3 col-md-3 col-lg-3 d-none d-sm-block"></div> 
      <div class="row visible-xs medium-only d-md-none -lg-none d-sm-none"> 
       <div style="color: blue; padding-top: 10px; padding-left: 0px; clear: both;" class="col-sm-6 col-xs-10 "> 
        <img style="display: inline; padding-left: 20px;" alt="" src="img/logo/rsz_1iaf-logo.png"/> 
        <b>CASB IAF - Rally</b> 
       </div> 
       <!-- <div class="col-sm-6 col-xs-2 " style="float: left;">
        <div class="navbar-header ">
         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
         </button>
        </div>
       </div> --> 
      </div> 
      <div class="col-sm-4 col-md-4 col-xs-6 d-none d-sm-block"> 
       <div style="margin-left: 0px;" class="navbar-header right-align"> 
        <div> 
         <a class="logo pull-right" href="http://www.careerindianairforce.cdac.in"><img style="height: 61px; margin-top: 5px;"/></a> 
         <span class="name pull-right"> <h4 style="color: #022261;  margin-right: 15px; margin-top: 5px; font-weight: 700;" class="txt">INDIAN AIR FORCE</h4> </span> 
         <br/> 
         <span class="name pull-right"> <h4 style="color: #022261;  margin-right: 15px; margin-top: 5px; font-weight: 700;" class="txt">भारतीय वायु सेना</h4> </span> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
    <!-- .navbar-top --> 
    <!-- Navigation --> 
     
     <div class="container"> 
      <a class="navbar-brand" href="#"> <img alt="" src=""/> </a> 
      <button class="navbar-toggler" type="button"> <span class="navbar-toggler-icon"></span> </button> 
      <div id="navbarResponsive" class="collapse navbar-collapse"> 
       <ul class="navbar-nav "> 
        <li class="nav-item active"><a class="nav-link" href="#">Home <span class="sr-only">(current)</span> </a></li> 
       </ul> 
      </div> 
     </div> 
     
     
     <div class="container"> 
      <div class="row"> 
       <div class="col-md-12"> 
         
         <ul class="breadcrumb modbreadcrumb"> 
          <li><a href="index.html"><span class="glyphicon glyphicon-home"></span> Home/ </a></li> 
          <li>Ralley Registration</li> 
         </ul> 
         
       </div> 
      </div> 
     </div> 
     
    <!-- .nav --> 
     
     <div class="container"> 
     </div> 
     <div style="padding: 25px 0;" class="container text-justify"> 
      <div style="padding: 4%; " class="card"> 
       <h3 style="color: #2f4f6b;">Please Select state and city where rally been conducted and you wish to apply</h3> 
       <h4 style="color: #2f4f6b;"> </h4> 
       <form id="form" enctype="multipart/form-data" action="#" class="needs-validation" method="post"> 
        <input id="error" type="hidden"/> 
        <input id="optcity" type="hidden"/> 
        <input id="error2" type="hidden"/> 
        <div class="row"> 
         <div class="form-group col-md-6"> 
          <label for="state" class="col-form-label">Select State</label> 
          <select id="ralleystateSelect" class="form-control"><option>---Select State----</option><option></option></select> 
          <label class="text-danger">Select state</label> 
         </div> 
         <input id="optedstatename" type="hidden"/> 
         <input id="optedcityname" type="hidden"/> 
         <div class="form-group col-md-6"> 
          <label for="city" class="col-form-label">Select City</label> 
          <select id="ralleycitySelect" class="custom-select"><option value="">---Select City----</option></select> 
          <label class="text-danger">Select city</label> 
         </div> 
        </div> 
        <div id="message" class="message"></div> 
        <div id="form-table" class="form-table"> 
         <div id="ralleyoptdetails" style="padding: 3px 15px;" class="jumbotron"> 
         </div> 
         <div class="promo-content"> 
          <h4 id="headingtitle">Ralley Registration Form</h4> 
          <hr/> 
         </div> 
         <h5>Personal Details:</h5> 
         <!--  form row --> 
         <div class="row"> 
          <div class="form-group col-md-6"> 
           <label for="Candidate Full Name:" class="col-form-label">Candidate Full Name</label> 
           <input id="name" class="form-control" type="text"/> 
           <div id="errorname" class="invalid-feedback">
            Please provide a valid Name.
           </div> 
           <span class="text-danger"></span> 
           <p id="verrorn"></p> 
          </div> 
          <div class="form-group col-md-6"> 
           <label for="Father Name:" class="col-form-label">Father Full Name</label> 
           <input id="fathername" class="form-control" type="text"/> 
           <div class="invalid-feedback">
            Please provide a valid Name.
           </div> 
           <span class="text-danger"></span> 
           <p id="verrorf"></p> 
          </div> 
          <div class="form-group col-md-6"> 
           <label for="emailid" class="col-form-label">Email id:</label> 
           <input id="emailid" class="form-control"/> 
           <div class="invalid-feedback">
            Please provide a valid Email.
           </div> 
           <span class="text-danger"></span> 
           <p id="verrore"></p> 
          </div> 
          <div class="form-group col-md-6"> 
           <label for="date" class="col-form-label">Date of Birth:</label> 
           <input id="dateOfBirth" class="form-control"/> 
           <div class="invalid-feedback">
            Please provide a valid DOB.
           </div> 
           <span class="text-danger"></span> 
           <p id="verrordob"></p> 
          </div> 
          <div class="form-group col-md-6"> 
           <label for="mobile" class="col-form-label">Enter Mobile/Contact No.:</label> 
           <input id="contactno" class="form-control" type="text"/> 
           <div class="invalid-feedback">
            Please provide a valid contactno.
           </div> 
           <span class="text-danger"></span> 
           <p id="verrormo"></p> 
          </div> 
          <div class="form-group col-md-6"> 
           <label for="mobile" class="col-form-label">Enter Addhar No.:</label> 
           <input id="aadhar" class="form-control" type="text"/> 
           <div class="invalid-feedback">
            Please provide a valid addhar.
           </div> 
           <span class="text-danger"></span> 
          </div> 
         </div> 
         <div class="row"> 
          <div class="form-group col-md-6"> 
           <label for="pass">Passing Details:</label> 
           <div class="form-check "> 
            <input value="12th" class="form-check-input" type="radio"/> 
            <label for="12th" class="form-check-label">12th passed </label> 
           </div> 
           <div class="form-check "> 
            <input value="other" class="form-check-input" type="radio"/> 
            <label for="other" class="form-check-label"> Other </label> 
            <span>Select passing detail</span> 
            <div class="invalid-feedback">
             You need to select either a option
            </div> 
           </div> 
          </div> 
          <div style="padding-left: 1.5%;" class="row"> 
           <div class="form-group col-12"> 
            <label class="col-form-label">Upload Marksheets:</label> 
           </div> 
           <div class="form-group col-md-8"> 
            <label class="col-form-label"> 10th Marksheet:<input id="X_marksheet" accept="image/*" name="XMarksheet" class="form-control"/> </label> 
           </div>
           <div class="form-group col-md-4"> 
            <p><label style="cursor: pointer;" for="file"></label></p> 
            <p><img id="output" width="125px"/></p>
           </div> 
           <div class="form-group col-md-8"> 
            <label class="col-form-label"> 12th Marksheet:<input id="XII_marksheet" accept="image/*" name="XIIMarksheet" class="form-control"/> </label> 
           </div>
           <div class="form-group col-md-4"> 
            <p><label style="cursor: pointer;" for="file"></label></p> 
            <p><img id="output2" width="125px"/></p> 
           </div> 
          </div> 
          <div class="form-group col-md-6"> 
           <label for="Qualification Details:" class="col-form-label">Passed Qualification Details:</label> 
           <input id="other" class="form-control" type="text"/> 
           <div class="invalid-feedback">
            Please provide a valid Details.
           </div> 
           <span class="text-danger"></span> 
           <p id="verrordet"></p> 
          </div> 
          <div class="form-group col-md-6"> 
           <label for="passper" class="col-form-label">Passing Percentage:</label> 
           <input id="passed_exam" class="form-control"/> 
           <div class="invalid-feedback">
            Please provide a valid passing percentage.
           </div> 
           <span class="text-danger"></span> 
           <p id="verrorpp"></p> 
          </div> 
          <div class="form-group col-md-6"> 
           <label for="engpassper" class="col-form-label">English Passing Percentage:</label> 
           <input id="eng_passed_exam" class="form-control"/> 
           <div class="invalid-feedback">
            Please provide a valid english passing percentage.
           </div> 
           <span class="text-danger"></span> 
           <p id="verrorepp"></p> 
          </div> 
          <div class="form-group col-md-6"> 
           <label for="martital" class="col-form-label">Maritial Status:</label> 
           <div style="padding: 2% 1%;"> 
            <div class="form-check form-check-inline col-3"> 
             <input value="true" class="form-check-input" type="radio"/> 
             <label for="married" class="form-check-label">Married</label> 
            </div> 
            <div class="form-check form-check-inline col-8"> 
             <input value="false" class="form-check-input" type="radio"/> 
             <label for="unmarried" class="form-check-label"> Un-Married </label> 
             <span>Select passing detail</span> 
             <div class="invalid-feedback">
              You need to select either a option
             </div> 
            </div> 
           </div> 
          </div> 
          <div class="form-group col-md-6"> 
           <label for="height" class="col-form-label">Height (in cm):</label> 
           <input id="height" class="form-control"/> 
           <div class="invalid-feedback">
            Please provide a valid height.
           </div> 
           <span class="text-danger"></span> 
           <p id="verrorh"></p> 
          </div> 
          <div class="form-group col-md-6"> 
           <label for="state" class="col-form-label">Select State</label> 
           <select id="stateSelect" class="form-control"><option>---Select State----</option><option> </option></select> 
           <label>Select state</label> 
          </div> 
          <div class=" col-md-6"> 
           <label for="city" class="col-form-label">Select City</label> 
           <select id="citySelect" class="custom-select"><option selected="selected" value="" disabled="disabled">---Select City----</option></select> 
           <label>Select city</label> 
          </div> 
         </div> 
         <div class="row"> 
          <div style="margin: 16px 0;" class="form-group col-12"> 
           <div style="margin: 5px;font-weight: bold;" class="form-check"> 
            <input id="defaultCheck1" value="" class="form-check-input" type="checkbox"/> 
            <label for="defaultCheck1" class="form-check-label"> I have not filled up online registration form for the subject recruitment rally earlier.</label> 
           </div> 
           <div style="margin: 5px;font-weight: bold;" class="form-check"> 
            <input id="defaultCheck2" value="" class="form-check-input" type="checkbox"/> 
            <label for="defaultCheck2" class="form-check-label"> The information furnished by me in the online registration form are correct to the best of my knowledge. Further, I understand that my candidature will be cancelled in case any information given by me is found to be false or incorrect. </label> 
            <div class="invalid-feedback"></div> 
           </div> 
          </div> 
         </div> 
         <div class="col-md-12"> 
          <button id="subform" class="btn btn-primary" type="submit">Submit</button> 
          <button id="remove" class="btn btn-warning" type="reset">Reset</button> 
         </div> 
        </div> 
        <!-- end form row --> 
       </form> 
       <div id="backlink" style="margin-top: 3%;"> 
        <a href="homepage"> &#60;&#60; Back to List page</a> 
       </div> 
      </div> 
     </div> 
     
    <div id="footerContent"> 
      
      <!-- Footer Widget Section --> 
      <div style="padding-top: 30px; padding-bottom: 30px;" class="footer-widget-section"> 
       <div class="container"> 
        <div class="row"> 
         <div style="text-align: left;" class="col-sm-4 col-md-4 col-lg-4 col-xs-12"> 
          <div class="widget"> 
           <h4>Get in touch with us</h4> 
            <strong>President</strong><br/>Central Airmen Selection Board<br/> Brar Square,Delhi Cantt,<br/> New Delhi-110 010  
           <p> CASB Reception (24/7) contact No. - <br/> <i class="icon-phone"></i> (011) 25699606, (011) 25694209 <br/> <i class="icon-envelope-alt"></i> email:<img style="padding-bottom: 6px;" alt="" src="resources/img/email/emailfooter.PNG"/> <br/> <i class="icon-envelope-alt"></i>www.airmenselection.cdac.in<br/> www.careerindianairforce.cdac.in </p> 
           <a style="color: white; text-decoration: underline;" target="_blank" href="https://casbcms.cdac.in">Help &#38; Support</a> 
          </div> 
         </div> 
         <div style="text-align: left;" class="col-sm-4 col-md-4 col-lg-4 col-xs-12"> 
          <div class="widget"> 
           <h4 style="padding-right: 50px;">Popular Links</h4> 
           <ul style="text-align: left;" class="link-list"> 
            <li><a target="_blank" href="https://airmenselection.cdac.in/CASB/aboutcasb.html">About CASB</a></li> 
            <li><a target="_blank" href="https://airmenselection.cdac.in/CASB/rankstructure.html">Rank Structure</a></li> 
            <li><a target="_blank" href="https://airmenselection.cdac.in/CASB/eligibilityCriteria.html">Eligibility Criteria</a></li> 
            <li><a target="_blank" href="https://airmenselection.cdac.in/CASB/trades_task.html">Trades &#38; Task</a></li> 
            <li><a target="_blank" href="https://airmenselection.cdac.in/CASB/pay_perks.html">Pay &#38; Perks</a></li> 
            <li><a target="_blank" href="https://airmenselection.cdac.in/CASB/airmenselectioncenter.html">Airmen Selection Centres</a></li> 
            <li><a target="_blank" href="https://airmenselection.cdac.in/CASB/traininginstitution.html"> Training Institutes</a></li> 
           </ul> 
          </div> 
         </div> 
         <div style="text-align: left; padding-right: 50px;" class="col-sm-4 col-md-4 col-lg-4 col-xs-12"> 
          <div class="widget"> 
           <h4>Social</h4> 
           <div id="share-buttons"> 
            <div class="row"> 
             <div class="col-xs-12"> 
              <a target="_blank" href="https://www.facebook.com/IndianAirForce/"> <img alt="Facebook"/>@IndianAirForce </a> 
             </div> 
            </div> 
            <div class="row"> 
             <div class="col-xs-12"> 
              <a target="_blank" href="https://twitter.com/iaf_mcc"> <img alt="Twitter"/>@iaf_mcc </a> 
             </div> 
            </div> 
            <div class="row"> 
             <div class="col-xs-12"> 
              <a target="_blank" href="https://www.instagram.com/IndianAirForce_mcc"> <img alt=""/>@IndianAirForce_mcc </a> 
             </div> 
            </div> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
      <!-- /.Footer Widget Section --> 
      <div class="copyright-section"> 
       <div class="container clearfix"> 
        <span class="copytext">Copyright &#169; 2018 | <a style="color: #3185ce;" target="_blank" href="https://careerindianairforce.cdac.in/">CASB, Indian Air Force</a> Designed And Developed By: <strong style="color: #3185ce;"> <a target="_blank" href="http://www.cdac.in">C-DAC</a> </strong></span> 
        <ul class="list-inline pull-right"> 
         <li class="active"><a href="index.html">Home</a></li> 
         <li><a target="_blank" href="https://airmenselection.cdac.in/CASB/aboutcasb.html">About</a></li> 
         <li><a target="_blank" href="https://airmenselection.cdac.in/CASB/contact.html">Contact</a></li> 
         <li><a target="_blank" href="https://airmenselection.cdac.in/CASB/faq.html">FAQ</a></li> 
        </ul> 
       </div> 
       <!-- .container --> 
      </div> 
      <!-- .copyright-section --> 
      
    </div> 
    <!-- .footer --> 
   </div> 
   <!-- .content-wrapper --> 
  </div> 
  <!-- .offcanvas-pusher --> 
  <!-- Script --> 
   
   
   
   
  <!-- <script src="resources/js/smoothscroll.js"></script> --> 
  <!-- <script src="https://maps.googleapis.com/maps/api/js"></script> --> 
   
   
   
   
   
   
   
   
    
 
</body></html>