<footer class="footer" id="footerContent">
					<!-- Footer Widget Section -->
					<div class="footer-widget-section"
						style="padding-top: 30px; padding-bottom: 30px;">
						<div class="container">
							<div class="row">
								<div class="col-sm-4 col-md-4 col-lg-4 col-xs-12"
									style="text-align: left;">
									<div class="widget">
										<h4>Get in touch with us</h4>
										<address>
											<strong>President</strong><br>Central Airmen Selection
											Board<br> Brar Square,Delhi Cantt,<br/> New Delhi-110 010
										</address>
										<p>CASB
											Reception (24/7) contact No. - <br/>
											<i class="icon-phone"></i> (011) 25699606, (011) 25694209 <br> <i class="icon-envelope-alt"></i>
											email:<img style="padding-bottom: 6px;" alt="" src="resources/img/email/emailfooter.PNG"> <br> <i class="icon-envelope-alt"></i>www.airmenselection.cdac.in<br />
											www.careerindianairforce.cdac.in
										</p><a style="color: white;text-decoration: underline;" target="_blank" href="https://casbcms.cdac.in">Help & Support</a>
									</div>
									
								</div>
								<div class="col-sm-4 col-md-4 col-lg-4 col-xs-12"
									style="text-align: left;">
									<div class="widget">
										<h4 style="padding-right: 50px;">Popular Links</h4>
										<ul class="link-list" style="text-align: left;">
											<li><a href="aboutcasb.html">About CASB</a></li>
											<li><a href="rankstructure.html">Rank Structure</a></li>
											<li><a href="eligibilityCriteria.html">Eligibility
													Criteria</a></li>
											<li><a href="trades_task.html">Trades &amp; Task</a></li>
											<li><a href="pay_perks.html">Pay &amp; Perks</a></li>
											<li><a href="airmenselectioncenter.html">Airmen
													Selection Centres</a></li>
											<li><a href="traininginstitution.html"> Training
													Institutes</a></li>
													
										</ul>
									</div>
								</div>
								<div class="col-sm-4 col-md-4 col-lg-4 col-xs-12"
									style="text-align: left; padding-right: 50px;">
									<div class="widget">
										<h4>Social</h4>
										<div id="share-buttons">
											<!-- Buffer -->
											<div class="row">
												<div class="col-xs-12">
													<a href="https://www.facebook.com/IndianAirForce/"
														target="_blank"> <img src="resources/img/Facebook.png"
														alt="Facebook" />@IndianAirForce
													</a>
												</div>
											</div>
											<!-- Twitter -->
											<div class="row">
												<div class="col-xs-12">
													<a href="https://twitter.com/iaf_mcc" target="_blank">
														<img src="resources/img/twitter.png" alt="Twitter" />@iaf_mcc
													</a>
												</div>
											</div>
											<div class="row">
												<div class="col-xs-12">
													<a href="https://www.instagram.com/IndianAirForce_mcc"
														target="_blank"> <img src="resources/img/insta.png" alt="" />@IndianAirForce_mcc
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- /.Footer Widget Section -->
					<div class="copyright-section">
						<div class="container clearfix">
							<span class="copytext">Copyright &copy; 2018 | <a
								href="https://careerindianairforce.cdac.in/" target="_blank"
								style="color: #3185ce">CASB, Indian Air Force</a> Designed And
								Developed By: <strong style="color: #3185ce"> <abbr style="border-bottom: none;" title="Centre for Development of Advanced Computing &#xA; A Scientific Society of Ministry of Electronics &  Information Technology,Government of India"><a target="_blank" href="http://www.cdac.in">C-DAC</a></abbr> </strong></span>
							<ul class="list-inline pull-right">
								<li class="active"><a href="index.html">Home</a></li>
								<li><a href="aboutcasb.html">About</a></li>
								<li><a href="contact.html">Contact</a></li>
								<li><a href="faq.html">FAQ</a></li>
							</ul>
						</div>
						<!-- .container -->
					</div>
					<!-- .copyright-section -->
				</footer>