<ul class="nav navbar-nav navbar-left main-nav">
	<li class="indexActive"><a href="index.html">Home</a></li>
	<!-- <li style="color: white !important;" class="dropdown dropdown-toggle iafActive"><a
		href="#" data-toggle="dropdown">IAF <span><i
				class="fa fa-angle-down"></i></span></a>
		<ul class="dropdown-menu">
			<li><a href="traininginstitution.html">Airmen Training
					Institutes</a></li>
			<li><a href="gallantryAwards.html">Gallantry Awards</a></li>
		</ul></li> -->
	<!-- <li class="dropdown dropdown-toggle casbActive"><a href="#"
		data-toggle="dropdown">CASB <span><i
				class="fa fa-angle-down"></i></span></a>
		<ul class="dropdown-menu">
			<li><a href="aboutcasb.html">About</a></li>
			<li><a href="president.html">CASB President</a></li>
			<li><a href="airmenselectioncenter.html">Airmen Selection
					Centres</a></li>
		</ul></li> -->
	<!-- <li class="dropdown dropdown-toggle airmanActive"><a href="#"
		data-toggle="dropdown">Airman <span><i
				class="fa fa-angle-down"></i></span></a>
		<ul class="dropdown-menu">
			<li><a href="eligibilityCriteria.html">Eligibility Criteria</a></li>
			<li><a href="trades_task.html">Trades and Tasks</a></li>
			<li><a href="rankstructure.html">Rank Structure</a></li>
			<li><a href="pay_perks.html">Pay and Perks</a></li>
			<li><a href="careerprogression.html">Career Progression</a></li>
		</ul></li> -->
	<!-- <li class="dropdown dropdown-toggle candidateActive"><a href="#"
		data-toggle="dropdown">CANDIDATE <span><i
				class="fa fa-angle-down"></i></span></a>
		<ul class="dropdown-menu">
			<li><a href="instructiononline.html">Guidelines to fill up
					online application form</a></li>
			
			<li><a target="_blank" href="https://airmenselection.cdac.in/STAR">Login (for intake 01/2020)</a></li>
			<li><a target="_blank" href="img/result/SHORTLISTED_CANDIDATES_CATEGORY.PDF">SHORTLISTED CANDIDATES FOR PHASE-II (INTAKE 01/2020)</a></li>	
			<li><a target="_blank" href="STARMock/index.html">Mock Test</a></li>
			<li><a href="modalqp.html">Syllabus and Model Question Paper</a></li>
			
			<li><a href="downloadforms.html">Download Section</a></li>
			<li><a href="documentsbycandidates.html">Documents to be
					brought by candidate for <br style="line-height: 1px;">&nbsp;&nbsp;Phase
					&#8545; Exam at Airmen Selection Centres
			</a></li>
			<li><a href="checklist.html">Checklist for candidate
					appearing in Rally/ST</a></li>
					<li><a href="aisl.html">PSL / Enrolment List</a></li>
					
		</ul></li>
		 -->
		<!-- <li class=" "><a target="_blank" href="https://airmenselection.cdac.in/STARCycle2">ST (intake:02/2019) </a>
		</li> -->
		
		
	<!-- <li class="contactActive"><a href="contact.html">Contact</a></li>
	<li class="faqActive"><a href="faq.html">FAQ</a></li> -->
	<li class="ralleyActive"><a href="${pageContext.request.contextPath}/">Ralley-Registration</a></li>
	<!-- <li class="active landing-margin"
		style="display: inline-block; float: right;"><a target="_blank"
		href="https://careerindianairforce.cdac.in"><i
			class="fa fa-paper-plane-o"></i> IAF</a></li> -->
</ul>

<script>
function indexActive() {
	  $( ".indexActive" ).addClass( "active" );
}

function iafActive() {
	  $( ".iafActive" ).addClass( "active" );
}

function casbActive() {
	  $( ".casbActive" ).addClass( "active" );
}

function airmanActive() {
	$( ".airmanActive" ).addClass( "active" );
}

function candidateActive() {
	$(".candidateActive").addClass("active");
}
function contactActive(){
	$(".contactActive").addClass("active");
}
function faqActive() {
	$(".faqActive").addClass("active");
}
function ralleyActive() {
	$(".ralleyActive").addClass("active");
}
</script>